@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

.content {
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px; 
}

.relogio {
    height: 190px;
    width: 650px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.box-tempo {
    height: 170px;
    width: 170px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    font-size: 60px;
    justify-content: center;
}

.pontinhos {
    font-size: 80px;
    color: white;
}

.tempo-texto {
    font-size: 15px;
    padding-top: 5px;
    color: black;

}